html, body, #app, .wrapper {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: 'Arial', sans-serif;

}

.wrapper {
  display: flex;
  flex-direction: column;
  cursor: url('assets/cursor.png'), auto;

  .gameContainer {
    display: flex;
    flex-direction: row;

    .rightBar {
      flex: 1;
      width: 200px;
      background: #333;
      outline: 1px solid blue;
    }
  }

  .chatContainer {
    flex: 1;
    background: #222;
  }
}
